table{
    border: 5px solid blue;
    border-collapse: collapse;
}
/* th{
    border: 5px solid blue;
}
td{
    border: 5px solid blue;
} */
th,td{
    border: 5px solid blue;
}
@media(max-width:600px){
    h1{
        color: blue;
    }
}